<meta charset="UTF-8">
<meta name="description" content="See how your salary compares to others in your area!">
<meta name="keywords" content="Equality, PayGap">
<meta name="author" content="The Equalizer Team">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pgTitle}}</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lobster|Oxygen" rel="stylesheet">
