<!DOCTYPE html>
<html lang="en">

<head>
  <link type="stylesheet" href="/css/main.css"/>
</head>

<body>
    <div id="page">
        <div class="home">

        </div>
    </div>
    <article id="mainBody">
        {{{body}}}
    </article>
</body>

</html>
