<article id="homePage">
    <h1>How does your salary<br>compare to other genders?</h1>
    <p>Let's find out</p>
    <section id="hpEmail">
        <form id="formEmail" onsubmit="return checkEmail()" action="emailAfter" method="post">
            Please provide your email <input id="inEmail" name="inEmail" type="text" size="25" autofocus >
            <button id="btnEmail" type="submit">Submit</button>
        </form>
    </section>
    <section id="hpMainForm">
        
    </section>
</article>
